// PROJETC VARIABLES AND SETTINGS

// PROJECT COLORS
$color-primary: #4A00EA;
$color-secondary: #8E2DE2;

$color-white: #fff;
$color-black: #000;

// FONT SETTINGS
$font-stack: "Quicksand", sans-serif;
$default-font-size: 16px;
