.content {
  display: flex;
  position: relative;
  min-height: 100vh;

  @media #{$small-and-down} {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
  }

  @media #{$small-and-up} {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 4rem;
  }
}
