.content {
  display: flex;
  position: relative;
  min-height: 100vh;

  @media #{small-screen-down} {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }

  @media #{small-and-up} {
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
  }
}
